# Cache do Python
__pycache__/
*.pyc
*.pyo

# Ambientes virtuais
venv/
.venv/
env/

# VS Code
.vscode/

# PyInstaller
build/
dist/
*.spec

# Arquivos exportados pelo SecurePass
*.txt

# Sistema operacional
.DS_Store
Thumbs.db
